# {{ ansible_managed }}
# Firejail profile for firefox-latest
# Persistent local customizations
include firefox-latest.local
# Persistent global definitions
# added by included profile
#include globals.local

# Redirect
include firefox.profile
